frontend/node_modules/
frontend/dist/
frontend_ask/node_modules/
frontend_ask/dist/
frontend_post/node_modules/
frontend_post/dist/
frontend_presence/node_modules/
frontend_presence/dist/
proxy/node_modules/
backend/node_modules/
**/backend/node_modules.nosync/
backend/node_modules.nosync/
functions/node_modules/
functions/lib/
dist/
.env
.env.local
concierge/widget/embeddable.html
**/node_modules.nosync/
node_modules.nosync/
node_modules/
node_modules.nosync/
**/node_modules/
**/node_modules.nosync/
node_modules 2/.DS_Store
flypost-qr.svg
.DS_Store
flypost-qr.svg
