openapi: 3.0.3
info:
  title: Flypost Ask - Public Discovery API
  description: |
    Read-only public API for discovering real estate events (open houses, garage sales, etc.).
    This API provides two endpoints for event discovery with optional date range filtering
    and two-tier access control (public aggregate vs brokerage-scoped).
  version: 1.0.0
  contact:
    name: Flypost Support
    url: https://goflypost.com
    email: support@goflypost.com
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html

servers:
  - url: https://api.goflypost.com
    description: Production server
  - url: http://localhost:3001
    description: Development server

tags:
  - name: discovery
    description: Event discovery endpoints (read-only)

paths:
  /v1/events/near:
    get:
      summary: Find events near a location
      description: |
        Retrieves events near a specified geographic location within a given radius.
        Supports optional date range filtering and two-tier access control.
        
        **Access Tiers:**
        - **Public**: No brokerage_id or API key. Returns approximate locations (reduced geo precision)
          and fewer fields.
        - **Brokerage-scoped**: With brokerage_id and/or API key. Returns full fidelity data.
      operationId: getEventsNear
      tags:
        - discovery
      parameters:
        - name: lat
          in: query
          description: Latitude of search center
          required: true
          schema:
            type: number
            format: double
            minimum: -90
            maximum: 90
          example: 34.0195
        - name: lng
          in: query
          description: Longitude of search center
          required: true
          schema:
            type: number
            format: double
            minimum: -180
            maximum: 180
          example: -118.4912
        - name: radius
          in: query
          description: Search radius in kilometers
          required: false
          schema:
            type: number
            format: double
            minimum: 0
            maximum: 100
            default: 10
          example: 5
        - name: start
          in: query
          description: Filter events starting on or after this date (ISO 8601 date-time)
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-01-01T00:00:00Z"
        - name: end
          in: query
          description: Filter events ending on or before this date (ISO 8601 date-time)
          required: false
          schema:
            type: string
            format: date-time
          example: "2025-12-31T23:59:59Z"
        - name: brokerage_id
          in: query
          description: Optional brokerage identifier for scoped access (enables full fidelity)
          required: false
          schema:
            type: string
          example: "brokerage_abc123"
      responses:
        '200':
          description: Successful response with list of events
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  schemaVersion:
                    type: string
                    example: "discovery.v1"
                  events:
                    type: array
                    items:
                      $ref: '#/components/schemas/DiscoveryEvent'
                  meta:
                    type: object
                    properties:
                      count:
                        type: integer
                        example: 5
                      radiusKm:
                        type: number
                        example: 10
                      accessTier:
                        type: string
                        enum: [public, brokerage]
                        example: "public"
        '400':
          description: Bad request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

  /v1/events/{event_id}:
    get:
      summary: Get a single event by ID
      description: |
        Retrieves a single event by its unique event ID.
        Supports two-tier access control based on brokerage_id presence.
      operationId: getEventById
      tags:
        - discovery
      parameters:
        - name: event_id
          in: path
          description: Unique event identifier
          required: true
          schema:
            type: string
          example: "evt_20250115_abc123"
        - name: brokerage_id
          in: query
          description: Optional brokerage identifier for scoped access (enables full fidelity)
          required: false
          schema:
            type: string
          example: "brokerage_abc123"
      responses:
        '200':
          description: Successful response with event details
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                    example: true
                  schemaVersion:
                    type: string
                    example: "discovery.v1"
                  event:
                    $ref: '#/components/schemas/DiscoveryEvent'
                  meta:
                    type: object
                    properties:
                      accessTier:
                        type: string
                        enum: [public, brokerage]
                        example: "brokerage"
        '404':
          description: Event not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '429':
          description: Rate limit exceeded
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
        '500':
          description: Internal server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

components:
  schemas:
    DiscoveryEvent:
      type: object
      description: |
        Event in Discovery V1 format. Fields returned depend on access tier:
        - Public tier: approximate geo, city/region only, limited metadata
        - Brokerage tier: full precision geo, complete address, full metadata
      required:
        - eventId
        - eventIdentity
        - category
        - startDate
      properties:
        eventId:
          type: string
          description: Unique event identifier
          example: "evt_20250115_abc123"
        eventIdentity:
          type: string
          description: Brokerage-agnostic event identity (canonical key)
          example: "open_house:123-main-st:los-angeles:ca"
        category:
          type: string
          description: Event category
          enum: [open_house, garage_sale, estate_sale, moving_sale, yard_sale, other]
          example: "open_house"
        name:
          type: string
          description: Event name/title
          example: "Beautiful 4BR Home in Santa Monica"
        description:
          type: string
          description: Event description (truncated based on access tier)
          example: "Stunning modern home with ocean views..."
        startDate:
          type: string
          format: date-time
          description: Event start date and time (ISO 8601)
          example: "2025-01-15T10:00:00Z"
        endDate:
          type: string
          format: date-time
          description: Event end date and time (ISO 8601)
          example: "2025-01-15T14:00:00Z"
        address:
          type: object
          description: Event address (detail level depends on access tier)
          properties:
            streetAddress:
              type: string
              description: Street address (brokerage tier only)
              example: "123 Main Street"
            addressLocality:
              type: string
              description: City
              example: "Los Angeles"
            addressRegion:
              type: string
              description: State/region
              example: "CA"
            postalCode:
              type: string
              description: Postal code (brokerage tier only)
              example: "90001"
            addressCountry:
              type: string
              description: Country code
              example: "US"
        geo:
          type: object
          description: Geographic coordinates (precision depends on access tier)
          properties:
            latitude:
              type: number
              format: double
              description: Latitude (reduced precision for public tier)
              example: 34.05
            longitude:
              type: number
              format: double
              description: Longitude (reduced precision for public tier)
              example: -118.24
        submissionTimestamp:
          type: string
          format: date-time
          description: When event was submitted (brokerage tier only)
          example: "2025-01-01T12:00:00Z"
        updateCount:
          type: integer
          description: Number of updates to this event (brokerage tier only)
          example: 2

    Error:
      type: object
      properties:
        success:
          type: boolean
          example: false
        error:
          type: string
          example: "Error message"
        details:
          type: string
          description: Additional error details (optional)

  securitySchemes:
    ApiKeyHeader:
      type: apiKey
      in: header
      name: x-api-key
      description: Optional API key for authenticated access
    BrokerageId:
      type: apiKey
      in: query
      name: brokerage_id
      description: Optional brokerage identifier for scoped access

security: []
