{
  "openapi": "3.1.0",
  "info": {
    "title": "Flypost Event API",
    "version": "4.0.1",
    "description": "Flypost parses natural-language event descriptions into structured Event objects and provides a location-based, multi-tenant query API."
  },
  "servers": [
    {
      "url": "https://api.goflypost.com",
      "description": "Flypost API (Cloud Run)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/parse-and-publish": {
      "post": {
        "summary": "Parse a natural-language event and publish it",
        "operationId": "parseAndPublishEvent",
        "description": "Parses an event description, validates it, computes a hash, assigns a brokerageId, and stores it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParseAndPublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event parsed and stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseAndPublishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "security": [
            {
              "WriteTokenAuth": []
            }
          ]
        }
      }
    },
    "/v1/events/near": {
      "get": {
        "summary": "Get events near a coordinate",
        "operationId": "getEventsNear",
        "description": "Retrieves events near a latitude/longitude within a radius, filtered by brokerageId.",
        "parameters": [
          {
            "name": "brokerageId",
            "in": "query",
            "description": "Brokerage tenant identifier (e.g., 'vista-sir').",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude in decimal degrees.",
            "required": false,
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude in decimal degrees.",
            "required": false,
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in kilometers.",
            "required": false,
            "schema": { "type": "number", "format": "double", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsNearResponse"
                }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "404": {
            "description": "Not found or no events.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "WriteTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Flypost-Write-Token",
        "description": "Required write token for POST requests."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "version": { "type": "string" },
          "storage": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "events": { "type": "integer" }
            }
          },
          "uptime": { "type": "number" }
        }
      },
      "ParseAndPublishRequest": {
        "type": "object",
        "properties": {
          "naturalLanguageInput": { "type": "string" },
          "brokerageId": {
            "type": "string",
            "description": "Brokerage tenant identifier. Hardcoded by GPT."
          },
          "userContext": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": ["naturalLanguageInput", "brokerageId"]
      },
      "ParseAndPublishResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "event": { "$ref": "#/components/schemas/FlypostEvent" }
            }
          }
        }
      },
      "EventsNearResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/FlypostEvent" }
              },
              "total": { "type": "integer" },
              "query": { "type": "object", "additionalProperties": true },
              "brokerageId": { "type": "string", "description": "Brokerage tenant identifier." },
              "source": { "type": "string", "description": "Backend source (e.g., Firestore)." },
              "note": { "type": "string", "description": "Internal note about the query method." }
            },
            "required": ["events", "total"]
          }
        }
      },
      "FlypostEvent": {
        "type": "object",
        "description": "Schema.org Event plus Flypost metadata.",
        "properties": {
          "@context": { "type": "string", "description": "Schema.org context, typically 'https://schema.org'." },
          "@type": { "type": "string", "description": "Schema.org type, typically 'Event'." },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time", "nullable": true },
          "location": {
            "type": "object",
            "description": "Schema.org Place or location info.",
            "additionalProperties": true
          },
          "organizer": {
            "type": "object",
            "description": "Host or organizer of the event.",
            "properties": {
              "@type": { "type": "string", "enum": ["Person", "Organization"] },
              "name": { "type": "string" },
              "email": { "type": "string", "format": "email" },
              "phone": { "type": "string" }
            },
            "additionalProperties": true
          },
          "brokerageId": { "type": "string" },
          "flypost": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "brokerageId": { "type": "string" }
            },
            "required": ["eventId", "brokerageId"],
            "additionalProperties": true
          },
          "hash": {
            "type": "object",
            "properties": {
              "algorithm": { "type": "string" },
              "value": { "type": "string" },
              "encoding": { "type": "string" },
              "canonicalVersion": { "type": "integer" }
            },
            "required": ["algorithm", "value"]
          },
          "storedAt": { "type": "string", "format": "date-time" }
        },
        "required": ["name", "startDate", "location", "flypost"],
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "error": { "type": "string" },
          "details": { "type": "string" }
        }
      }
    }
  }
}
