{
  "openapi": "3.1.0",
  "info": {
    "title": "Flypost Event API",
    "version": "4.0.1",
    "description": "Flypost parses natural-language event descriptions into structured Event objects and provides a location-based, multi-tenant query API."
  },
  "servers": [
    {
      "url": "https://api.goflypost.com",
      "description": "Flypost API (Cloud Run)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/HealthResponse" }
              }
            }
          }
        }
      }
    },
    "/api/parse-and-publish": {
      "post": {
        "summary": "Parse a natural-language event and publish it",
        "operationId": "parseAndPublishEvent",
        "description": "Parses an event description, validates it, computes a hash, assigns a brokerageId, and stores it. Tenancy: brokerageId is typically injected by the proxy via x-flypost-brokerage-id; body.brokerageId is accepted as a fallback. Precedence: injected header overrides body.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ParseAndPublishRequest" }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event parsed and stored.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ParseAndPublishResponse" }
              }
            }
          },
          "400": {
            "description": "Validation error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Internal server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        },
        "security": [{ "WriteTokenAuth": [] }]
      }
    },
    "/v1/events/near": {
      "get": {
        "summary": "Get events near a coordinate",
        "operationId": "getEventsNear",
        "description": "Retrieves events near a latitude/longitude within a radius. If brokerageId is provided, results are filtered by brokerage. If omitted, results may be constrained by deployment/proxy tenancy.",
        "parameters": [
          {
            "name": "brokerageId",
            "in": "query",
            "required": false,
            "description": "Optional brokerage tenant identifier (e.g., 'vista-sir'). If provided, server filters results.",
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude in decimal degrees.",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude in decimal degrees.",
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in kilometers.",
            "schema": { "type": "number", "format": "double", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsNearResponse" }
              }
            }
          },
          "400": {
            "description": "Bad request.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "404": {
            "description": "Not found or no events.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "WriteTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "x-flypost-write-token",
        "description": "Required write token for POST requests."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "version": { "type": "string" },
          "storage": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "events": { "type": "integer" }
            }
          },
          "uptime": { "type": "number" }
        }
      },
      "ParseAndPublishRequest": {
        "type": "object",
        "required": ["naturalLanguageInput"],
        "properties": {
          "naturalLanguageInput": { "type": "string" },
          "brokerageId": {
            "type": "string",
            "description": "Brokerage tenant identifier. Optional when using the proxy."
          },
          "userContext": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ParseAndPublishResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "event": { "$ref": "#/components/schemas/FlypostEvent" }
            }
          }
        }
      },
      "EventsNearResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "required": ["events", "total"],
            "properties": {
              "events": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/FlypostEvent" }
              },
              "total": { "type": "integer" },
              "query": { "type": "object", "additionalProperties": true },
              "brokerageId": { "type": "string" },
              "source": { "type": "string" },
              "note": { "type": "string" }
            }
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "required": ["success", "error"],
        "properties": {
          "success": { "type": "boolean" },
          "error": { "type": "string" },
          "details": { "type": "string" }
        }
      },
      "FlypostEvent": {
        "type": "object",
        "description": "Schema.org Event plus Flypost metadata.",
        "additionalProperties": true,
        "required": ["name", "startDate", "location", "flypost"],
        "properties": {
          "@context": { "type": "string" },
          "@type": { "type": "string" },
          "name": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": ["string", "null"], "format": "date-time" },
          "location": { "type": "object", "additionalProperties": true },
          "organizer": { "type": "object", "additionalProperties": true },
          "brokerageId": { "type": "string" },
          "offers": {
            "type": "object",
            "description": "Schema.org Offer (typically derived from flypost.listPrice when present).",
            "additionalProperties": true,
            "properties": {
              "@type": { "type": "string", "enum": ["Offer"], "default": "Offer" },
              "price": { "type": "number" },
              "priceCurrency": { "type": "string", "default": "USD" }
            }
          },
          "flypost": {
            "type": "object",
            "required": ["eventId", "brokerageId"],
            "additionalProperties": true,
            "properties": {
              "eventId": { "type": "string" },
              "brokerageId": { "type": "string" },
              "category": { "type": "string" },
              "submissionTimestamp": { "type": "string", "format": "date-time" },
              "listPrice": { "type": "number" },
              "listPriceCurrency": { "type": "string", "default": "USD" },
              "listPriceDisplay": { "type": "string" },
              "priceConfidence": {
                "type": "string",
                "enum": ["verified", "inferred"]
              }
            }
          },
          "hash": {
            "type": "object",
            "required": ["algorithm", "value"],
            "additionalProperties": true,
            "properties": {
              "algorithm": { "type": "string" },
              "value": { "type": "string" }
            }
          },
          "storedAt": { "type": "string", "format": "date-time" }
        }
      }
    }
  }
}
