{
  "openapi": "3.1.0",
  "info": {
    "title": "Flypost Event API",
    "version": "4.0.0-mvp",
    "description": "Flypost parses natural-language event descriptions into structured Schema.org Event objects and provides location-based queries, with multi-tenant routing via brokerageId."
  },
  "servers": [
    {
      "url": "https://api.goflypost.com",
      "description": "Flypost Backend API (Cloud Run)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/parse-and-publish": {
      "post": {
        "summary": "Parse a natural-language event and publish it",
        "operationId": "parseAndPublishEvent",
        "description": "Parses an event description, validates it, stores it with a Flypost eventId, and computes a hash. Requires brokerageId for multi-tenant isolation.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParseAndPublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event parsed and stored successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseAndPublishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/near": {
      "get": {
        "summary": "Get events near a location",
        "operationId": "getEventsNear",
        "description": "Retrieves events near latitude/longitude within a radius, filtered by brokerageId.",
        "parameters": [
          {
            "name": "lat",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "format": "double" },
            "description": "Latitude (defaults to Santa Monica)."
          },
          {
            "name": "lng",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "format": "double" },
            "description": "Longitude (defaults to Santa Monica)."
          },
          {
            "name": "radius",
            "in": "query",
            "required": false,
            "schema": { "type": "number", "format": "double", "default": 10 },
            "description": "Search radius in kilometers."
          },
          {
            "name": "brokerageId",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Brokerage identifier for multi-tenant isolation (e.g. 'vista-sir')."
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved successfully.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/EventsNearResponse" }
              }
            }
          },
          "400": {
            "description": "Missing or invalid parameters.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          },
          "500": {
            "description": "Server-side error.",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/ErrorResponse" }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "version": { "type": "string" },
          "storage": { "type": "object" },
          "uptime": { "type": "number" }
        }
      },
      "ParseAndPublishRequest": {
        "type": "object",
        "required": ["brokerageId"],
        "properties": {
          "brokerageId": {
            "type": "string",
            "description": "Brokerage tenant identifier (required)."
          },
          "naturalLanguageInput": {
            "type": "string",
            "description": "Primary event description text."
          },
          "text": {
            "type": "string",
            "description": "Alias for naturalLanguageInput."
          },
          "input": {
            "type": "string",
            "description": "Alias for naturalLanguageInput."
          },
          "userContext": {
            "type": "object",
            "additionalProperties": true
          }
        }
      },
      "ParseAndPublishResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "event": { "$ref": "#/components/schemas/FlypostEvent" }
            }
          }
        }
      },
      "EventsNearResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/FlypostEvent" }
              },
              "total": { "type": "integer" },
              "query": { "type": "object" },
              "source": { "type": "string" }
            }
          }
        }
      },
      "FlypostEvent": {
        "type": "object",
        "description": "Schema.org Event with Flypost metadata.",
        "additionalProperties": true
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "error": { "type": "string" },
          "details": { "type": "string", "nullable": true }
        }
      }
    }
  }
}
