{
  "openapi": "3.1.0",
  "info": {
    "title": "Flypost Event API",
    "version": "4.0.1",
    "description": "Flypost parses natural-language event descriptions into structured Event objects and provides a location-based, multi-tenant query API."
  },
  "servers": [
    {
      "url": "https://api.goflypost.com",
      "description": "Flypost API (Cloud Run)"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/parse-and-publish": {
      "post": {
        "summary": "Parse a natural-language event and publish it",
        "operationId": "parseAndPublishEvent",
        "description": "Parses an event description, validates it, computes a hash, assigns a brokerageId, and stores it.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParseAndPublishRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event parsed and stored.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseAndPublishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Validation error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Internal server error",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        },
        "security": [
          {
            "WriteTokenAuth": []
          }
        ]
      }
    },
    "/v1/events/near": {
      "get": {
        "summary": "Get events near a coordinate",
        "operationId": "getEventsNear",
        "description": "Retrieves events near a latitude/longitude within a radius, filtered by brokerageId.",
        "parameters": [
          {
            "name": "brokerageId",
            "in": "query",
            "description": "Brokerage tenant identifier (e.g., 'vista-sir').",
            "required": true,
            "schema": { "type": "string" }
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude in decimal degrees.",
            "required": false,
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "lng",
            "in": "query",
            "description": "Longitude in decimal degrees.",
            "required": false,
            "schema": { "type": "number", "format": "double" }
          },
          {
            "name": "radius",
            "in": "query",
            "description": "Search radius in kilometers.",
            "required": false,
            "schema": { "type": "number", "format": "double", "default": 10 }
          }
        ],
        "responses": {
          "200": {
            "description": "Events retrieved.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/EventsNearResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server error.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "WriteTokenAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "X-Flypost-Write-Token",
        "description": "Required write token for POST requests."
      }
    },
    "schemas": {
      "HealthResponse": {
        "type": "object",
        "properties": {
          "status": { "type": "string" },
          "timestamp": { "type": "string", "format": "date-time" },
          "version": { "type": "string" },
          "storage": {
            "type": "object",
            "properties": {
              "type": { "type": "string" },
              "events": { "type": "integer" }
            }
          },
          "uptime": { "type": "number" }
        }
      },
      "ParseAndPublishRequest": {
        "type": "object",
        "properties": {
          "naturalLanguageInput": { "type": "string" },
          "brokerageId": {
            "type": "string",
            "description": "Brokerage tenant identifier. Hardcoded by GPT."
          },
          "userContext": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": ["naturalLanguageInput", "brokerageId"]
      },
      "ParseAndPublishResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "event": { "$ref": "#/components/schemas/FlypostEvent" }
            }
          }
        }
      },
      "EventsNearResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "data": {
            "type": "object",
            "properties": {
              "events": {
                "type": "array",
                "items": { "$ref": "#/components/schemas/FlypostEvent" }
              },
              "total": { "type": "integer" },
              "query": { "type": "object" }
            }
          }
        }
      },
      "FlypostEvent": {
        "type": "object",
        "description": "Simplified Event + Flypost metadata.",
        "properties": {
          "name": { "type": "string" },
          "description": { "type": "string" },
          "startDate": { "type": "string", "format": "date-time" },
          "endDate": { "type": "string", "format": "date-time", "nullable": true },
          "location": {
            "type": "object",
            "properties": {
              "name": { "type": "string" },
              "streetAddress": { "type": "string" },
              "city": { "type": "string" },
              "region": { "type": "string" },
              "postalCode": { "type": "string" },
              "latitude": { "type": "number" },
              "longitude": { "type": "number" }
            },
            "additionalProperties": true
          },
          "organizer": {
            "type": "object",
            "description": "Listing agent or team hosting the event. All fields are optional.",
            "properties": {
              "@type": {
                "type": "string",
                "enum": ["Person", "Organization"],
                "description": "The Schema.org type for the organizer."
              },
              "name": {
                "type": "string",
                "description": "Agent or team name as provided by the brokerage."
              },
              "email": {
                "type": "string",
                "format": "email",
                "description": "Agent email, if provided."
              },
              "phone": {
                "type": "string",
                "description": "Agent phone number as provided, with no enforced formatting. Stored verbatim. Preferred over 'telephone'."
              },
              "telephone": {
                "type": "string",
                "description": "Deprecated: Use 'phone' instead. Legacy field retained for backward compatibility.",
                "deprecated": true
              },
              "licenseId": {
                "type": "string",
                "description": "Agent license ID, if provided."
              },
              "mlsNumber": {
                "type": "string",
                "description": "MLS listing number, if provided."
              }
            },
            "additionalProperties": true
          },
          "flypost": {
            "type": "object",
            "properties": {
              "eventId": { "type": "string" },
              "brokerageId": { "type": "string" },
              "category": { "type": "string" },
              "submissionTimestamp": { "type": "string", "format": "date-time" }
            },
            "required": ["eventId", "brokerageId"],
            "additionalProperties": true
          },
          "hash": {
            "type": "object",
            "properties": {
              "algorithm": { "type": "string" },
              "value": { "type": "string" }
            },
            "required": ["algorithm", "value"]
          }
        },
        "required": ["name", "startDate", "location", "flypost"]
      },
      "ErrorResponse": {
        "type": "object",
        "properties": {
          "success": { "type": "boolean" },
          "error": { "type": "string" },
          "details": { "type": "string" }
        }
      }
    }
  }
}
