{
  "openapi": "3.1.0",
  "info": {
    "title": "Flypost Event API",
    "version": "4.0.0-mvp",
    "description": "Flypost parses natural-language event descriptions into structured Schema.org Event objects and provides a location-based query API."
  },
  "servers": [
    {
      "url": "https://api.goflypost.com",
      "description": "Flypost API (Cloud Run behind api.goflypost.com) - production"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "operationId": "getHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/health": {
      "get": {
        "summary": "Health check (legacy path)",
        "operationId": "getApiHealth",
        "responses": {
          "200": {
            "description": "Service health status",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/HealthResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/parse-and-publish": {
      "post": {
        "summary": "Parse a natural-language event and publish it",
        "operationId": "parseAndPublishEvent",
        "description": "Parses a natural-language event description into a structured Event object, validates it, computes a hash, stores it, and returns the stored event plus a Flypost eventId.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BrokerageIdHeader"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ParseAndPublishRequest"
              },
              "examples": {
                "openHouse": {
                  "summary": "Open house example",
                  "value": {
                    "naturalLanguageInput": "Open house this Sunday from 1–4pm at 2212 Ocean Park Blvd, Santa Monica. 3 bed, 2 bath, listed at $1.5M.",
                    "userContext": {
                      "source": "openai-gpt-action",
                      "channel": "gpt-actions",
                      "provenance": {
                        "agent": "flypost-gpt-action",
                        "platform": "openai",
                        "intent": "parse-and-publish"
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Event parsed, validated, hashed, and stored successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ParseAndPublishResponse"
                }
              }
            }
          },
          "400": {
            "description": "Invalid input or validation failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          },
          "500": {
            "description": "Server-side error during parsing or publishing.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ErrorResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/events/near": {
      "get": {
        "summary": "Get events near a location",
        "operationId": "getEventsNear",
        "description": "Retrieves events near a latitude/longitude within a radius. Uses Firestore geospatial queries when enabled; otherwise falls back to in-memory retrieval. Results are filtered to the requesting brokerage via the x-flypost-brokerage-id header.",
        "parameters": [
          {
            "$ref": "#/components/parameters/BrokerageIdHeader"
          },
          {
            "name": "lat",
            "in": "query",
            "description": "Latitude in decimal degrees. If omitted, defaults to Santa Monica, CA.",
            "required": false,
            "schema": {
              "type": "number",
              "format": "double"
